In [1]:
a={}
a[2]=1
a[1]=[2,3,4]
print(a[1][1])

3

In [2]:
a={"a":1,"b":2,"c":3}
b=dict(zip(a.values(),a.keys()))
b

{1: 'a', 2: 'b', 3: 'c'}

In [3]:
l1=[1,2,3]
l2=[4,5,6]
[x*y for x in l1 for y in l2]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [4]:
s=["pune", "mumbai", "delhi"]
[(w.upper(), len(w)) for w in s]

[('PUNE', 4), ('MUMBAI', 6), ('DELHI', 5)]

In [7]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9]
[x**3 for x in l]

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [9]:
k = [print(i) for i in "my_string" if i not in "aeiou"]
print(k)

m
y
_
s
t
r
n
g
[None, None, None, None, None, None, None, None]

In [1]:
print([i  if i%2==0  else i+1 for i in range(4)])

[0, 2, 2, 4]

In [19]:
x = [i**+1 for i in range(3)]; print(x);

[0, 1, 2]

In [27]:
i = 3

In [30]:
i**-2

0.1111111111111111

In [35]:
1/(3**2)

0.1111111111111111

In [5]:
2**+2

4

In [6]:
3**+3

27