In [1]:
mylist = []

In [2]:
type(mylist)

list

In [6]:
mylist= [1,2,3,4,5]

In [7]:
mylist[0]

1

In [8]:
mylist[-1]

5

In [9]:
mylist[::-1]

[5, 4, 3, 2, 1]

In [10]:
mylist = [1,2,3,'ibm', 'chennai']

In [11]:
for i in mylist:
    print(i)

1
2
3
ibm
chennai

In [12]:
len(mylist)

5

In [13]:
mylist = [1,2,3,4,['ibm', 5,6,7], 'delhi', 56]

In [14]:
mylist[0]

1

In [16]:
mylist[4][0]

'ibm'

In [17]:
mylist[-1]

56

In [18]:
dir(mylist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [19]:
mylist

[1, 2, 3, 4, ['ibm', 5, 6, 7], 'delhi', 56]

In [20]:
mylist.append(100)

In [21]:
mylist

[1, 2, 3, 4, ['ibm', 5, 6, 7], 'delhi', 56, 100]

In [22]:
mylist.append(200)

In [23]:
mylist

[1, 2, 3, 4, ['ibm', 5, 6, 7], 'delhi', 56, 100, 200]

In [24]:
mylist.insert(3, 300)

In [29]:
mylist

[1, 2, 3, 300, 4, ['ibm', 5, 6, 7], 'delhi', 56, 100, 200, 'a', 'b', 'c']

In [30]:
mylist.extend(['a','b','c','j','h'])

In [31]:
mylist

[1,
 2,
 3,
 300,
 4,
 ['ibm', 5, 6, 7],
 'delhi',
 56,
 100,
 200,
 'a',
 'b',
 'c',
 'a',
 'b',
 'c',
 'j',
 'h']

In [27]:
mylist

[1, 2, 3, 300, 4, ['ibm', 5, 6, 7], 'delhi', 56, 100, 200, 'a', 'b', 'c']

In [33]:
mylist = []
mylist.append(100)

In [37]:
mylist11=[5,2,3,4]  
mylist11.sort()  
print(mylist11)

[2, 3, 4, 5]

In [40]:
mylist = [1, 2, 3, 300, 4, ['ibm', 5, 6, 7], 'delhi', 56, 100, 200, 'a', 'b', 'c']
for i in mylist:  
    if isinstance(i,list):  
        for j in i:
            print (j)

ibm
5
6
7

In [39]:
mylist

[100]

In [41]:
dir(mylist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [42]:
mylist.pop()

'c'

In [43]:
mylist

[1, 2, 3, 300, 4, ['ibm', 5, 6, 7], 'delhi', 56, 100, 200, 'a', 'b']

In [44]:
mylist.pop()

'b'

In [45]:
mylist

[1, 2, 3, 300, 4, ['ibm', 5, 6, 7], 'delhi', 56, 100, 200, 'a']

In [46]:
mylist.remove('delhi')

In [47]:
mylist

[1, 2, 3, 300, 4, ['ibm', 5, 6, 7], 56, 100, 200, 'a']

In [48]:
mylist = [1,2,3,4,5,(4,5,6,7), 9,0]

In [50]:
mylist

[1, 2, 3, 4, 5, (4, 5, 6, 7), 9, 0]

In [51]:
dir(mylist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [68]:
mylist

[1, 2, 3, 4, 5, (4, 5, 6, 7), 9, 0]

In [69]:
mylist.reverse()

In [70]:
mylist

[0, 9, (4, 5, 6, 7), 5, 4, 3, 2, 1]

In [56]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [57]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [58]:
tup = ([1,2,3], 1,2)

In [59]:
tup[0]

[1, 2, 3]

In [62]:
tup[0][2] = 100

In [63]:
tup

([1, 2, 100], 1, 2)

In [64]:
tup[0].append(300)

In [65]:
tup

([1, 2, 100, 300], 1, 2)

In [66]:
tup[0].reverse()

In [67]:
tup

([300, 100, 2, 1], 1, 2)

In [71]:
mylist

[0, 9, (4, 5, 6, 7), 5, 4, 3, 2, 1]

In [73]:
mylist = list(range(20))

In [74]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [75]:
mylist.sort()

In [76]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [77]:
mylist.sort(reverse=True)

In [78]:
mylist

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [79]:
mylist

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [80]:
mytuple = tuple(mylist)

In [81]:
mytuple

(19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0)

In [82]:
mytuple[0]= 9

TypeError: 'tuple' object does not support item assignment

In [83]:
mylist = list(mytuple)

In [84]:
mylist

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [88]:
mylist = [1,2,3,'x', 'y', 'a']
mylist.reverse()

In [89]:
mylist

['a', 'y', 'x', 3, 2, 1]

In [91]:
str(10)

'10'

In [92]:
mylist

['a', 'y', 'x', 3, 2, 1]

In [93]:
mylist = list(range(10))

In [94]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
mylist = [4,3,2,1,0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
myset = set(mylist)

In [97]:
myset

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [98]:
mylist = list(myset)

In [99]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
lst = list(range(20))  
lst  
count = 0
n = int(input("Enter a value : "))  
for i in lst:  
    if n<i:  
        count = count + 1  
print("The number of items in the list greater than {} is".format(n),count)

The number of items in the list greater than 5 is 14

In [103]:
mylist=[4,5,6,7,3,35,86,46,7,3,9,25,0,2,5]  
n= int(input("enter the no:"))  
no_greater=0  
for i in mylist:  
    if i>n:  
        no_greater+=1  
print("Total no of elememts greater than the element given are:",no_greater)

Total no of elememts greater than the element given are: 8

In [104]:
mylist = [0, 1, 2, 3, 4, 5, 6]  
user = int(input("please provide your number: "))  
for items in mylist:  
    if user < items:  
        print(items)

6

In [105]:
list1 = [10,20,30,40,50]
list2 = [5, 30, 25, 15, 20]

10 20 5 25  30

SyntaxError: invalid syntax (<ipython-input-105-27e4c50e61ba>, line 4)

In [106]:
list1=[10,20,30,40,50]  
list2=[5,30,25,15,20]  
s=0  
list3=[]  
for i in list1:  
    if i < list2[s]:  
        list3.append(i)  
    else:  
        list3.append(i-list2[s])  
    s+=1  
list3

[5, 20, 5, 25, 30]

In [107]:

 
l1= [12,34,56,3,16,67,26,87]  
l2=[20,30,50,78,2,45,87,67]  
l3 =[]  
 
i=0  
for value in l1:  
    if(l1[i]>l2[i]):  
        temp=l1[i]-l2[i]  
    #l3.insert(temp)  
        l3.insert(i, temp)  
        i=i+1  
    else:  
        temp=l1[i]  
        l3.insert(i, temp)  
    #l3.insert(temp)  
        i=i+1  
print(l3)

[12, 4, 6, 3, 14, 22, 26, 20]

In [ ]:
#Subtraction of lists : if first list element is greater  
i = [10,20,13,18]  
j = [23,12,78,34]  
new = []  
x=0  
for i[x] in list1:  
    for j[x] in list2:  
        if i > j:  
            sub = i - j  
            new.append(sub)  
        else:  
            new.append(i)  
            x=x+1  
print(new)

In [2]:
list1=[10,20,30,40]  
list2=[50,10,40,70]  
list3=[]  
i=0  
while i < len(list1):  
    if list1[i] > list2[i]:  
        var=list1[i]-list2[i]
        list3.append(var)  
    i+=1
print(list3)

[10]

In [10]:
lst1 = [10,3,2]  
lst2 = [5,8,1]  
lst3 = []  
s = 0
for i in range(len(lst1)):   
    if lst1[i] > lst2[i]:
        lst3.append(lst1[i]-lst2[i]) 
         
    else:  
         lst3.append(lst1[i]) 
print(lst3)

[5, 3, 1]