In [1]:
myset = set()

In [2]:
type(myset)

set

In [3]:
myset

set()

In [4]:
mylist = [1,2,3,4,5]

In [6]:
type(mylist)

list

In [7]:
myset = set(mylist)

In [8]:
myset

{1, 2, 3, 4, 5}

In [10]:
type(x)

dict

In [11]:
myset

{1, 2, 3, 4, 5}

In [12]:
myset = set()

In [13]:
type(myset)

set

In [14]:
myset.add(10)

In [15]:
myset

{10}

In [16]:
myset.add(20)

In [17]:
myset.add(30)

In [18]:
myset

{10, 20, 30}

In [19]:
myset.add(10)

In [20]:
myset

{10, 20, 30}

In [21]:
myset.add(20)

In [22]:
myset

{10, 20, 30}

In [23]:
myset.add(40)

In [24]:
myset

{10, 20, 30, 40}

In [25]:
dir(myset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [27]:
myset.update([50, 60])

In [28]:
myset

{10, 20, 30, 40, 50, 60}

In [29]:
myset  = set()

In [30]:
myset.update([10,20,30])

In [31]:
myset

{10, 20, 30}

In [32]:
()  tuple
''   str
[]   list
{}    set
{:}   dict

SyntaxError: invalid syntax (<ipython-input-32-a688f975e39b>, line 1)

In [33]:
myset

{10, 20, 30}

In [34]:
myset.add(5)

In [35]:
myset

{5, 10, 20, 30}

In [36]:
myset.add(60)

In [37]:
myset

{5, 10, 20, 30, 60}

In [38]:
myset.add(15)

In [39]:
myset

{5, 10, 15, 20, 30, 60}

In [40]:
myset.add('a')

In [41]:
myset

{10, 15, 20, 30, 5, 60, 'a'}

In [42]:
myset.add('A')

In [43]:
myset

{10, 15, 20, 30, 5, 60, 'A', 'a'}

In [44]:
myset[0]

TypeError: 'set' object does not support indexing

In [46]:
for i in myset:
    print(i)

5
A
10
15
20
a
60
30

In [51]:
print("Hello World"[-1])

d

In [48]:
mystr = "Hello World"
mystr[::-1]

'dlroW olleH'

In [49]:
mystr = "Welcome"
print(mystr[0])

W

In [50]:
mystr[1]='r'

TypeError: 'str' object does not support item assignment

In [53]:
9//2

4

In [55]:
x = "123"
for i in x:
    print(i)

1
2
3

In [56]:
for i in [1,2,3,4][::-1]:
    print(i)

4
3
2
1

In [57]:
l = "This is string"
l = l.split('i')
for i in l:
    print(i, end=" ")

Th s  s str ng

In [58]:
mystr = "geekforgeeks"
i = 'i'
for i in mystr:
    print(i, end=" ")

g e e k f o r g e e k s

In [59]:
i = 0
while True:
    if i % 0o7 == 0:
        i += 1

SyntaxError: invalid token (<ipython-input-59-031eb5abe5a9>, line 3)

In [60]:
mystr

'geekforgeeks'

In [61]:
print("Hello World"[-1])
print("Hello World"[::-1])

d
dlroW olleH

In [63]:
mystr ="Hello World"
mystr[-1]

'd'

In [65]:
x= ['ab','cd']  
for i in x:  
    i.upper()
    print(x)

['ab', 'cd']
['ab', 'cd']

In [66]:
myset = set()

In [67]:
mylist = [1,2,3,4,5]
myset.update(mylist)

In [68]:
myset

{1, 2, 3, 4, 5}

In [69]:
dir(myset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [70]:
myset.pop()

1

In [71]:
myset

{2, 3, 4, 5}

In [72]:
myset.remove(4)

In [73]:
myset

{2, 3, 5}

In [74]:
myset.remove(4)

KeyError: 4

In [75]:
myset

{2, 3, 5}

In [76]:
myset.pop()

2

In [77]:
myset

{3, 5}

In [78]:
dir(myset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [79]:
myset

{3, 5}

In [80]:
myset.clear()

In [81]:
myset

set()

In [82]:
myset1 = {1,2,3,4,5}

In [85]:
type(myset1)

set

In [84]:
myset2 = {3,4,5,6}

In [86]:
myset1.union(myset2)

{1, 2, 3, 4, 5, 6}

In [87]:
myset1.union({6,7,8})

{1, 2, 3, 4, 5, 6, 7, 8}

In [88]:
help(myset.union)

Help on built-in function union:

union(...) method of builtins.set instance
    Return the union of sets as a new set.

    (i.e. all elements that are in either set.)

In [89]:
set1 = {1,2,3,4}
set2 = {3,4,5,6}
set3 = {5,6,7,8}
set1.union(set2, set3)

{1, 2, 3, 4, 5, 6, 7, 8}

In [90]:
dir(myset)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [95]:
set1

{1, 2, 3, 4}

In [96]:
set2

{3, 4, 5, 6}

In [100]:
set1.difference_update(set2)

In [101]:
set1

{1, 2}

In [102]:
dir(set1)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [103]:
set1

{1, 2}

In [104]:
set1 = {1,2,3,4}

In [105]:
set1

{1, 2, 3, 4}

In [106]:
set2

{3, 4, 5, 6}

In [107]:
set1.intersection(set2)

{3, 4}

In [108]:
set1.intersection_update(set2)

In [109]:
set1

{3, 4}

In [110]:
set1

{3, 4}

In [113]:
set2 = {1,2,3}

In [114]:
set1.isdisjoint(set2)

False