# Tuple

In [1]:
mytuple = ()

In [2]:
type(mytuple)

tuple

In [3]:
mytuple1 = (1,2,3,4)
mytuple2 = ('python', 'programming')
mytuple1 + mytuple2

(1, 2, 3, 4, 'python', 'programming')

In [4]:
mytuple1[0] = 100

TypeError: 'tuple' object does not support item assignment

In [5]:
dir(mytuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [6]:
mylist = []
dir(mylist)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
tup = (1,2,3,4)
tup[-1]

4

# Slicing

In [8]:
tup[1:]

(2, 3, 4)

In [9]:
tup[::2]

(1, 3)

In [10]:
tup = (1,2,'ibm', 'delhi', 6,7,8)
tup

(1, 2, 'ibm', 'delhi', 6, 7, 8)

In [11]:
tup[::2]

(1, 'ibm', 6, 8)

In [12]:
tup[::-1]

(8, 7, 6, 'delhi', 'ibm', 2, 1)

('delhi', 6)

In [14]:
tup

(1, 2, 'ibm', 'delhi', 6, 7, 8)

In [15]:
tup[2:4]

('ibm', 'delhi')

In [16]:
tup

(1, 2, 'ibm', 'delhi', 6, 7, 8)

In [18]:
for i in tup:
    if isinstance(i, str):
        print("This tuple element is string: ", i)
    else:
        print("This is other than string: ", i)

This is other than string:  1
This is other than string:  2
This tuple element is string:  ibm
This tuple element is string:  delhi
This is other than string:  6
This is other than string:  7
This is other than string:  8

In [19]:
tup[0] = 100

TypeError: 'tuple' object does not support item assignment

In [20]:
del tup[0]

TypeError: 'tuple' object doesn't support item deletion

In [21]:
del tup

In [22]:
tup

NameError: name 'tup' is not defined

In [23]:
tup = (1,2,'ibm', 'delhi', 6,7,8)

In [24]:
i = 0
while i < len(tup):
    if isinstance(tup[i], str):
        print("String")
    else:
        print("Soe othetr")
    i = i + 1

Soe othetr
Soe othetr
String
String
Soe othetr
Soe othetr
Soe othetr

In [41]:
tup = (1,2,3,(4,5,6), 9,0)

In [42]:
tup

(1, 2, 3, (4, 5, 6), 9, 0)

In [48]:
tup[3][2]

6

In [32]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [33]:
tup

(1, 2, 3, (4, 5, 6), 9, 0)

In [34]:
tup = (1,2,'ibm', 'delhi', 6,7,8)

In [35]:
tup

(1, 2, 'ibm', 'delhi', 6, 7, 8)

In [57]:
tup = (1,2,3,(4,5,6),7,2,1,5)

In [58]:
tup.count(4)

0

In [60]:
tup.index(4)

ValueError: tuple.index(x): x not in tuple

In [64]:
for i in tup:
    if isinstance(i, tuple):
        for j in i:
            print(j)
    else:
        print(i)

1
2
3
4
5
6
7
2
1
5

In [65]:

for i in tup:  
    if isinstance(i,tuple):  
        for j in i:  
            print(j)  
    else:  
        print(i)

1
2
3
4
5
6
7
2
1
5

In [66]:
#to access nested tuple  
tup =(1,2,3,(4,5,6),9,8,2,4)  
for i in tup:  
    if isinstance(i, tuple):  
        for j in i:  
            print(j)  
    else:  
        print (i)

1
2
3
4
5
6
9
8
2
4