In [1]:
T = (1,2,3,4,5,6,7,8)

print(T[T.index(5)], end=" ") 


print(T[T[T[6]-3]-6])  # 7-3 = 4 =5

5 8

In [2]:
help(tuple.index)

Help on method_descriptor:

index(...)
    T.index(value, [start, [stop]]) -> integer -- return first index of value.
    Raises ValueError if the value is not present.

In [5]:
List = [True, 50, 10]

List.insert(2, 5)        

print(List, "Sum is: ", sum(List))

[True, 50, 5, 10] Sum is:  66

In [3]:
set1={1,2,3}  
set2=set1.add(4)  
print(set2)

None

In [7]:
sets = {3, 4, 5}

sets.update([1, 2, 3])

print(sets)

{1, 2, 3, 4, 5}

In [8]:
sets = {1, 2, 3, 4, 4}

print(sets)

{1, 2, 3, 4}

In [10]:
mytuple1 = (1, 2, 3, 4)

mytuple= mytuple1+(5, 6, 7) 

print((mytuple))

(1, 2, 3, 4, 5, 6, 7)

In [13]:
T = tuple('geeks')
print(T)

a, b, c, d, e = T

b = c = '*'

T = (a, b, c, d, e)

print(T)

TypeError: 'tuple' object is not callable

In [12]:
l=list("123456")

l[0]=l[5]=0
#023450
l[3]=l[-2] 
#023550
print([l])

[[0, '2', '3', '5', '5', 0]]